<style>
    #div___loading {
        min-height: 400px;
    }
</style>




    <!-- Loading Modal    ***********************************************************   Loading Modal   ***********************************************************  Loading Modal     ************************ -->

    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="color:white">
        <div class="loading-modal-dialog" role="document">
            <div class="modal-content loading-content" style="background: rgba(0,0,0,0.0);">

                <div class="modal-body pt-0">
                    <div class="loading-box" id="div___loading">

                        <div class="overlay loading-circle">
                            <i class="fas fa-sync-alt fa-spin fa-7x" style="color:white" ></i>
                            <p id="arge-loading-text" class="arge-loading-text"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- ./Loading Modal -->


<script>

    // MODAL KAPATILDIĞINDA FORM RESETLEME


</script>