{% extends "base_djoser.html" %}
{% load static %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">

    <div class="card shadow-sm">
        <div class="card-body">

            <h3 class="text-center mb-4">Şifre Başarıyla Yenilendi</h3>

            <div class="alert alert-success text-center">
                Şifreniz başarıyla güncellendi. Artık hesabınıza giriş yapabilirsiniz.
            </div>

            <div class="text-center mt-4">
                <a href="/login" class="btn btn-primary w-100">
                    Giriş Yap
                </a>
            </div>

        </div>
    </div>

</div>
{% endblock %}
